/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!/.yarn/cache
#/.pnp.*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
.next/
.turbo

# rescript
lib/
.bsb.lock
.merlin



#ninja
.ninja_log
.ninja_deps
.bsdeps
.bs_dir_cache

.bsbuild
lib/prebuilt.ninja
lib/release.ninja
lib/build.ninja
lib/copy.ninja
jscomp/release.ninja
jscomp/build.ninja
jscomp/compiler.ninja
jscomp/runtime/build.ninja
jscomp/others/build.ninja
jscomp/stdlib-406/build.ninja
jscomp/napkin.ninja
jscomp/compilerEnv.ninja
env.ninja
jscomp/cppoVendor.ninja
jscomp/cppoEnv.ninja
jscomp/bin/bsb
jscomp/bin/bsc
lib/bs
lib/js/jscomp/test
jscomp/build_tests/*/lib/
#ignore temporary directory
*.goog.js
*.jsoo.js
*.so
bin/ninja.exe
tmp/
jscomp/ext/hash_set.ml
jscomp/ext/hash_set_poly.ml
jscomp/ext/hash.ml
jscomp/ext/hash_set_ident.ml
jscomp/ext/hash_ident.ml
jscomp/ext/map_ident.ml
jscomp/ext/set_ident.ml
jscomp/ext/hash_set_int.ml
jscomp/ext/hash_int.ml
jscomp/ext/map_int.ml
jscomp/ext/vec_int.ml
jscomp/ext/ordered_hash_map_local_ident.ml
jscomp/ext/ordered_hash_set_string.ml
jscomp/ext/vec.ml
jscomp/ext/set_int.ml
jscomp/ext/hash_set_string.ml
jscomp/ext/hash_string.ml
jscomp/ext/map_string.ml
jscomp/ext/set_string.ml
jscomp/ext/ext_json_parse.ml
jscomp/syntax/reactjs_jsx_ppx_v2.ml
jscomp/syntax/reactjs_jsx_ppx_v3.ml
jscomp/bin/all_ounit_tests.ml
native/
vendor/ocaml
jscomp/.lsp
.vscode/launch.json
tracing*.json
darwin/bsc
.nyc_output
themes
.vscode/settings.json
*.output # yacc output
jscomp/ml/parser.output
jscomp/ml/lexer.ml
