/* Unicodes for Polish & English alphabet: U+0020-007F,U+00A0-00BF,U+0100-017F,U+0104,U+0105,U+0106,U+0107,U+0118,U+0119,U+0141,U+0142,U+0143,U+0144,U+00F3,U+00D3,U+015A,U+015B,U+0179,U+017A,U+017B,U+017C*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  unicode-range: U+0020-007F, U+00A0-00BF, U+0100-017F, U+0104, U+0105, U+0106,
    U+0107, U+0118, U+0119, U+0141, U+0142, U+0143, U+0144, U+00F3, U+00D3,
    U+015A, U+015B, U+0179, U+017A, U+017B, U+017C;
  src: url(/static/fonts/inter-pl-en.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: optional;
  unicode-range: U+0020-007F, U+00A0-00BF, U+0100-017F, U+0104, U+0105, U+0106,
    U+0107, U+0118, U+0119, U+0141, U+0142, U+0143, U+0144, U+00F3, U+00D3,
    U+015A, U+015B, U+0179, U+017A, U+017B, U+017C;
  src: url(/static/fonts/inter-italic-pl-en.woff2) format("woff2");
}
